PAINEL_BEST_API_KEY=
PAINEL_BEST_BASE_URL=https://api.painel.best/lines/
PAGAMENTO_BUSCAR_URL=
APP_PUBLIC_URL=http://127.0.0.1:8000
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIM_EMAIL=
REMINDER_ADMIN_TOKEN=
ACCESS_TOKEN_SECRET=
ALLOWED_HOSTS=localhost,127.0.0.1
